.my-tasks-container {
  padding: 2rem;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.task-item {
  background-color: white ;
  border-radius: 12px;
  padding: 1.5rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
}

.status-container {
  margin: 0.5rem 0;
}

.task-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.edit-task-btn,
.delete-task-btn {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.edit-task-btn {
  background-color: #1976d2;
  color: white;
}

.delete-task-btn {
  background-color: #d32f2f;
  color: white;
}

.created-by-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.created-by-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}


/* .delete-task-btn,
.edit-task-btn {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.delete-task-btn {
  background-color: #ff4d4f;
  color: white;
}

.delete-task-btn:hover {
  background-color: #d9363e;
}

.edit-task-btn {
  background-color: #1890ff;
  color: white;
}

.edit-task-btn:hover {
  background-color: #147ad6;
} */

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.modal h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal input,
.modal textarea,
.modal select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 100%;
}

.modal input:focus,
.modal textarea:focus,
.modal select:focus {
  outline: none;
  border-color: #4caf50;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.modal-actions button {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-actions button[type="submit"] {
  background-color: #2196f3;
  color: white;
}

.modal-actions button[type="submit"]:hover {
  background-color: #1976d2;
}

.modal-actions button[type="button"] {
  background-color: #ccc;
}

.modal-actions button[type="button"]:hover {
  background-color: #aaa;
}

