.my-profile-container {
  padding: 20px;
}

.profile-title {
  font-size: 28px;
  font-weight: bold;
  color: #8e44ad;
  margin-bottom: 20px;
  margin-top: 0;
}

.profile-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: start;
  /* background-color: #f7f0fc; */
}

.profile-left-card,
.profile-right-card {
  background: #f7f0fc;
  border: 1px solid #dcd6f7;
  border-radius: 12px;
  padding: 20px;
  flex: 1;
  position: relative;
}
.profile-left-card {
  width: 200px;
}

.image-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 15px;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.edit-image-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #9b59b6;
  border: none;
  color: white;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

.profile-left-card h2,
.profile-left-card .email {
  text-align: center;
}

.profile-right-card h3 {
  color: #000000;
  margin-bottom: 20px;
  font-size: 29px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.edit-btn {
  margin-top: 20px;
  background-color: #8e44ad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 24px;
  height: 40px;
  cursor: pointer;
  text-align: center;
}

.edit-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  min-width: 300px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.submit-btn {
  background-color: #8e44ad;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #8e44ad;
  font-size: 18px;
  cursor: pointer;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
}

.password-input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.confirm-delete-btn {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
}

.cancel-btn {
  background-color: gray;
  color: white;
  padding: 0.5rem 1rem;
}
